OWNER_NAME="Atomic"
PREFIX="!"
PUBLIC_MODE='non'
AUTO_READ_STATUS="non"
AUTO_DOWNLOAD_STATUS="oui"
BOT_NAME= "EDEN-MD"
IMAGE_MENU= "https://iili.io/F0fy642.md.jpg"
NUMERO_OWNER= "2347056705430"
OWNER_NAME= "᚛ATOMIC᚜"
DATABASE_URL= "mongodb+srv://Atomicend:Atomicend@cluster0.qx2htdt.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
WARN_COUNT= "3"
OPENAI_API_KEY= "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"
STARTING_BOT_MESSAGE='yes'
ANTI_DELETE_MESSAGE='yes'
